@model TVCMS.Models.VinoViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImagenUri)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.ImagenUri)" width="100px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTipoVino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoVino.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdMarca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCepa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cepa.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cosecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cosecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
