@model TVCMS.Models.VinoViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar vino</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.ImagenUri, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ImagenUri, new SelectList(Model.lstImagenes), "Seleccionar", new { @id = "selectImagen" })
                @Html.ValidationMessageFor(model => model.ImagenUri)
            </div>
            <img id="MostrarImagen" width="100px" src="" />
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdTipoVino, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdTipoVino, new SelectList(Model.lstTVino, "Id", "Nombre"), "Seleccionar")
                @Html.ValidationMessageFor(model => model.IdTipoVino)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdMarca, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdMarca, new SelectList(Model.lstMarca, "Id", "Nombre"), "Seleccionar")
                @Html.ValidationMessageFor(model => model.IdMarca)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdCepa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdCepa, new SelectList(Model.lstCepa, "Id", "Nombre"), "Seleccionar")
                @Html.ValidationMessageFor(model => model.IdCepa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pais, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Pais, new SelectList(Model.lstPais), "Seleccionar")
                @Html.ValidationMessageFor(model => model.Pais)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cosecha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cosecha)
                @Html.ValidationMessageFor(model => model.Cosecha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Precio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Precio)
                @Html.ValidationMessageFor(model => model.Precio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Stock, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stock)
                @Html.ValidationMessageFor(model => model.Stock)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    let selectInput = document.getElementById("selectImagen");
    let imgTag = document.getElementById("MostrarImagen");

    selectInput.addEventListener('change', e => {
        imgTag.src = e.target.value;
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
